.inner{
    width: 1100px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 120px;
    min-width:1100px;
    background: url("../images/header_bg.jpg") no-repeat;
    /*font-family:'Microsoft YaHei UI';*/
}
.header .logo{
    width: 376px;
    height: 120px;
    float: left;
}
.header .logo img{
    width: 100%;
    height: 100%;
}
.header .header_nav{
    float: right;
}
.header .header_nav div.nav{
    float: left;
    height: 120px;
    position: relative;
    cursor: pointer;
}
.header .header_nav div+div{
    margin-left: 40px;
}
.header .header_nav .nav h1{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff ;
    position: relative;
    top: 40px;
    font-weight: bold;
}
.header_nav .nav .point{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 39px;
    left: 50%;
    background: url("../images/nav_now_bg.png") no-repeat;
    display: none;
}
.header_nav .nav .now{
    display: block;
}
 .header_nav .nav h1 .nav_ico{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../images/nav_xiajiantou.png") no-repeat;
    vertical-align: middle;
    margin-left: 3px;
}
 .header_nav .nav:hover h1 .nav_ico{
    background: url("../images/nav_xiajiantou_hover.png") no-repeat;
}
 .header_nav .subnav{
    position: absolute;
    width: 180px;
    left: -40px;
    top: 83px;
    background: #36264A;
    display: none;
    z-index: 20;
}
 .header_nav .subnav li{
     width: 140px;
    padding-left: 40px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 15px;
    position: relative;

}
 .header_nav .subnav li:hover a{
     padding-left: 10px;
}
.header .subnav li a{
    color: #fff;
    float: left;
    transition: padding-left .5s ease 0s;
}
.header .subnav .subnav_ico{
    display: inline-block;
    width: 5px;
    height: 8px;
    background: url("../images/nav_li_bg.png") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 20px;
    display: none;
}
/*<!--网页头部结束-->*/
/*<!--网页底部footer开始-->*/
