<style>
  .logo{width:3rem;
    height:3rem;
    margin:0 auto;}
</style>

<ion-view view-title="登录" style="background:url(img/login_bg.png) no-repeat; background-size:100% 100%;">
  <ion-content class="padding">
    <div class="row responsive-sm padding">
      <div class="col">
        <div style="height:1.5rem"></div>
        <div class="logo"><img src="img/login_logo.png" width="100%" height="auto"></div>

        <div class="list list-inset">
          <label class="item item-input"><input type="text" ng-model="loginuser.name" placeholder="用户名" > </label>
          <label class="item item-input"><input type="password" ng-model="loginuser.password" placeholder="密码" > </label>
        </div>

        <div class="loginButton"><button class="button button-block button-positive" ng-click="doLogin()"> 登录 </button>  </div>

        <div class="row">
          <div class="col-10 "><a class="item" style="background: none; border:none"  href="#/tab/register">注册</a></div>
          <div class="col-10" style="text-align: right; line-height: 1.36rem;">
            <input type="checkbox" ng-model="myCheck" style="margin-right: 0.2rem;">记住密码
          </div>
        </div>

  </ion-content>
</ion-view>
